/*
* General app styles go here!
*/

:root {
  --card-background-color: rgba(255, 255, 255, 0.15);
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --text-color: #fff;
  --default-margin: 20px;

  --app-default-bg-color: linear-gradient(to bottom, #406161, #87a79b);
  --app-snow-bg-color: linear-gradient(to top, #92b9d6, #adb0b3);
  --app-sleet-bg-color: linear-gradient(to top, #587387, #a9adb0);
  --app-hail-bg-color: linear-gradient(to top, #a9adb0, #587387);
  --app-thunderstorms-bg-color: linear-gradient(to top, #4b6cb7, #182848);
  --app-heavy-rain-bg-color: linear-gradient(to top, #6f7b80, #1f2538);
  --app-light-rain-bg-color: linear-gradient(to top, #b9aeae, #35555e);
  --app-showers-bg-color: linear-gradient(to top, #a8c1e0, #728db0);
  --app-heavy-cloud-bg-color: linear-gradient(to top, #979797, #5d676d);
  --app-light-cloud-bg-color: linear-gradient(to top, #6bb9fa, #347296);
  --app-clear-bg-color: linear-gradient(to top, #ff9853, #ffbb39);
}

body {
  margin: 0;
}

#app {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--text-color);
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
